<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <h1> List of Courses </h1>
    <br><br><br><br>
    <h3> If you dont see the course you are looking for</h3>
    <h3> please enter it <a href="/golf_courses/new">here</a></h3>
    <br><br><br
    
        <p>Course Name: <%=  %></p>
        <p>Address: <%=  %></p>
        <p>Phone Number: <%=  %></p>
        <p>Number of Holes: <%=  %></p>
        <p>Scorecard: <%=  %></p>
        <p>Front 9: <%=  %></p>
        <p>Back 9: <%= %></p>

        

<body>

</html>