<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div>
        <h1> List of Courses </h1>
        <br><br><br><br>
        <h3> If you dont see the course you are looking for</h3>
        <h3> please enter it <a href="/golf_courses/new">here</a></h3>
     </div>   
        <br><br><br>
    <% @course.each do |course| %>
        <div>
        <br><br><br>
            <li>Course Name: <%= course.name  %></li>
            <li>Address: <%= course.location %></li>
            <li>Phone Number: <%= course.phone_number  %></li>
            <li>Number of Holes: <%= course.number_of_holes %></li>
            <li>Scorecard: <%= course.scorecard %></li>  
            <li>Front 9: <%= course.front_9 %></li>
            <li>Back 9: <%= course.back_9 %></li>
        <br><br><br>    
        <div>           
    <%end%>
    <h3><a href="/golfer/show">Profile Page</a></h3>

<body>

</html>