
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <h1> New Golf Course Added </h1>
    <br><br><br><br>
    <h3> Thank you for adding a course</h3>
    <br><br><br
    
        <p>Course Name: <%=  %></p>
        <p>Address: <%=  %></p>
        <p>Phone Number: <%=  %></p>
        <p>Number of Holes: <%=  %></p>
        <p>Scorecard: <%=  %></p>
        <p>Front 9: <%=  %></p>
        <p>Back 9: <%= %></p>

        

<body>

</html>