
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <h1> New Golf Course Added and Updated</h1>
    <br><br><br><br>
    <h3> Thank you for adding and updating our courses!</h3>
    <br><br><br>
    
        <p>Course Name: <%= @course.name %></p>
        <p>Address: <%= @course.location %></p>
        <p>Phone Number: <%= @course.phone_number %></p>
        <p>Number of Holes: <%= @course.number_of_holes %></p>
        <p>Scorecard: <%= @course.scorecard %></p>
        <p>Front 9: <%= @course.front_9 %></p>
        <p>Back 9: <%= @course.back_9 %></p>
    <br><br>
    <h3><a href="/golf_courses/index">List of Courses</a></h3>
    
      

<body>

</html>