<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <h1> Profile Page </h1>
    <h2> Welcome <%=  %> </h2># this is substitution syntax
    <br><br><br><br>
        <p>Name: <%=  %></p>
        <p>Address: <%=  %></p>
        <p>Handicap: <%=  %></p>
        
        # <p>: <%=  %></p>
        # <p>: <%=  %></p>
        # <p>: <%=  %></p>

        

</body>

</html>