<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/stylesheets/login.css" />
    </head>
    <body>

        <h1> Profile Page </h1>
        <h2> Welcome <%= @golfer.name %> </h2>
        <br><br><br><br>
            <p>Name: <%= @golfer.name %></p>
            <p>Address: <%= @golfer.hometown%></p>
            <p>Handicap: <%= @golfer.handicap %></p>

           
           
           
            <h3><a href="/golfer/<%=@golfer.id%>/edit">Edit Info</a></h3>

            <h3><a href="/golf_courses/index">Look at Courses</a></h3>
        

            

    </body>

</html>