<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <h1> Profile Page </h1>
    <h2> Welcome <%= @golfer.name %> </h2># this is substitution syntax
    <br><br><br><br>
        <p>Name: <%= @golfer.name %></p>
        <p>Address: <%= @golfer.hometown%></p>
        <p>Handicap: <%= @golfer.handicap %></p>
        
        # <p>: <%=  %></p>
        # <p>: <%=  %></p>
        # <p>: <%=  %></p>

        <h3><a href="/golf_courses/index">Look at Courses</a></h3>
    

        

</body>

</html>